<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Test Denis Hooke{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">

</head>
<body scroll="load()" ng-controller="appController" ng-init="load()">
<div class="container">
    <header>
        <div class="row">
            <div class="col-xs-6">
                <a href="//klika-tech.com/" class="logo" target="_blank">
                    <img src="//klika-tech.com/images/30378d67.logo.svg" />
                </a>
            </div>
            <div class="col-xs-6 text-right">
                <div class="author">author: <a href="mailto:denis.hooke@gmail.com">denis.hooke@gmail.com</a></div>
            </div>
        </div>
    </header>
    {% block container %}{% endblock %}
</div>
<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('assets/vendor/angular/angular.min.js') }}"></script>
<script src="{{ asset('js/app.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
